<section class="about">
    <img src="../../assets/jan-huber-4OhFZSAT3sw-unsplash.jpg">
    <div class="aboutcontent">
        <h1 class="zoom">About Us</h1>
    </div>

    <h1 class="text-center mb-5" style="color: green;">Why Inyathi Waste?</h1>

    <div style="padding-left: 10%; padding-right: 10%; padding-bottom: 5%;">
        <p><strong><mat-icon>keyboard_arrow_right</mat-icon> Recycle today for a better tomorrow </strong></p>
        <p>
            At Inyathi Waste, we want to revolutionise recycling by introducing innovative waste management solutions,
            to ensure that all recyclable waste is extracted. Our main goal is to rejuvenate the environment allowing us
            to live in a greener future for all. We strive to maintain and promote growth and sustainable solutions
            through our effective waste management techniques.
        </p>

        <p><strong><mat-icon>keyboard_arrow_right</mat-icon>Adaptable Solutions</strong></p>
        <p>
            Our intuitive waste management solutions are tailor made for each company no matter the size or sector. We
            ensure that waste is separated source, allowing us to guarantee all recyclable waste is recycled. Through
            our innovative solutions we ensure that less waste makes its way to landfills.
        </p>

        <p><strong><mat-icon>keyboard_arrow_right</mat-icon>Hazardous and non-hazardous waste</strong></p>
        <p>
            Waste comes in different shapes and sizes, not all waste is equal. All waste is sorted out into categories
            which allow for ethical and responsible disposal. Sustainable solutions are developed where possible.
        </p>
    </div>



</section>
