<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink=""><img src="../assets/logo.JPG"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="course">Why Recycle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="joinnow">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About Us</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<!-- <footer class="footer-distributed">

  <div class="text-center">
    <a href="https://instagram.com/inyathiwaste?utm_medium=copy_link"><img src="../assets/new-instagram-logo-glyph.svg"></a>
 <p>Follow Us On Instagram</p>
    <a target="blank" title="Company Registration" href="https://www.govchain.co.za/verify-company?id=K2021890019"><img src="https://govchain-static.s3.amazonaws.com/logo/verification-badge-medium.png" width="80px" alt="Company Registration" /> </a>
  </div>

  <div class="footer-left">

    <p class="footer-links">&#x260e; 082 868 2738</p>
    <p class="footer-links">&#x260e; 081 344 4212</p>
    <p class="footer-links">&#x2709; Info@inyathiwaste.co.za</p>
    <br>
    <p>&copy; Inyathi Waste 2021. All rights reserved.</p>
  </div>

</footer> -->

<footer class="footer-distributed">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <p style="display: flex; justify-content: center;" class="footer-links"> <a href="tel:082 868 2738">&#x260e; 082 868 2738</a></p>
      <p style="display: flex; justify-content: center;" class="footer-links"> <a href="tel:081 344 4212">&#x260e; 081 344 4212</a></p>
      <p  style="display: flex; justify-content: center;" class="footer-links"> <a href="mailto:Info@inyathiwaste.co.za">&#x2709; Info@inyathiwaste.co.za</a> </p>
      <br>

      <a  style="display: flex; justify-content: center; transform: scale(1.7);" class="footer-links" href="https://instagram.com/inyathiwaste?utm_medium=copy_link"><img src="../assets/new-instagram-logo-glyph.svg"></a>
      <br>
      <a style="display: flex; justify-content: center;"  class="footer-links" target="blank" title="Company Registration" href="https://www.govchain.co.za/verify-company?id=K2021890019"><img src="https://govchain-static.s3.amazonaws.com/logo/verification-badge-medium.png" width="80px" alt="Company Registration" /> </a>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6" >
      <br>
      <p style="display: flex; justify-content: center;">&copy; Inyathi Waste 2021. All rights reserved.</p>
      <p style="display: flex; justify-content: center;"> Website by PlatinumCSS.</p>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
</footer>
