<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="height: 100vh; width: 100vw;" src="../../assets/carousel1.jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption" style="margin-bottom: 18%;">
      <div style="background: rgba(174, 216, 174, 0.7);padding:10px 5px">
        <h3>Lets work together </h3>
        <p>Lets all work together to promote sustain lifestyle for all. Inyathi waste is dedicated to ensuring a
          greener tomorrow </p>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="height: 100vh; width: 100vw;" src="../../assets/carousel2.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption" style="margin-bottom: 18%;">
      <div style="background: rgba(174, 216, 174, 0.7);padding:10px 5px">
        <h3>Addressing the landfill crisis</h3>
        <p>We are dedicated to ensuring all recyclable materials are diverted away from landfills, in order to
          promote a greener future for all.</p>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="height: 100vh; width: 100vw;" src="../../assets/carousel3.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption" style="margin-bottom: 18%;">
      <div style="background: rgba(174, 216, 174, 0.7);padding:10px 5px">
        <h3>Managing waste effectively</h3>
        <p>We have vast experience in controlling waste to ensure its disposed of in the efficient and effective
          manner, enabling us to promote a sustainable future</p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>


<div class="row" style="padding: 5%;">
  <div class="col-sm-4 hoverwrap">
    <img style="height: 40vh; width: 100%;"  src="../../assets/katya-austin-4Vg6ez9jaec-unsplash.jpg">
    <div class="hovercap">
      <h3>Who we are?</h3>
      <br>
      Our main goal is to drive South Africa to becoming a more sustainable and eco-friendlier environment.
      <br>
    </div>
  </div>

  <div class="col-sm-4 hoverwrap">
    <img style="height: 40vh; width: 100%;" src="../../assets/debby-urken-S6KZvhi_0GE-unsplash.jpg">
    <div class="hovercap">
      <h3>How we operate?</h3>
      <br>
      We provide intuitive waste management solutions to all sectors of the economy, including residential, commercial
      and industrial sectors.
      <br>
    </div>
  </div>

  <div class="col-sm-4 hoverwrap">
    <img style="height: 40vh; width: 100%;" src="../../assets/artem-labunsky-jGXKZGMwepY-unsplash.jpg">
    <div class="hovercap">
      <h3>Why recycle?</h3>
      <br>
      We encourage more efficient recycling to provide a greener environment for all.
      <br>
    </div>
  </div>

</div>
